@import '~antd/es/style/themes/default.less';

.container {
  padding: 10px 10px;
  overflow: auto;
  .board {
    border: 1px dashed rgba(236, 245, 255, 0.3);
    height: 79vh;
    overflow: auto;
    padding: 2px;
  }
}
